[Unit]
Description=Get Frank Energie prices

[Timer]
OnCalendar=*-*-* 15:05:00 Europe/Amsterdam
Persistent=true
RandomizedDelaySec=30

[Install]
WantedBy=timers.target
